.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #291e31;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 16px;
    text-align: center;
  }

  .footer-element {
    font-size: 18px;
    margin: 0px;
    font-family: 'Source Code Pro', monospace;
  }